<% if @bookings.empty? %>
  <p>Il n'y a pas de réservation(s) pour <%= @item.name %></p>
<% else %>
  <p>Voici les réservations pour <%= @item.name %></p>
<% end %>

<% @bookings.each do |booking| %>
  <p><%= booking.user %></p>
  <p><%= booking.start_date %> - <%= booking.end_date %></p>

  <%= link_to edit_booking_path(booking) do %>
    modifier
  <% end %>

  <%= link_to booking_path(booking),
          class: "delete-item",
          method: :delete,
          data: { confirm: "Êtes-vous sûr ?" } do %>
    supprimer
  <% end %>
<% end %>

<%= link_to items_path do %>
  retour à la liste des objets
<% end %>
