<div class="container">
  <div class="my-4">
    <h1>Les babioles de Philippe</h1>
  </div>

  <div class="items-container">
    <% @items.each do |item| %>
      <div class="card m-1" id="item-<%= item.id %>">
        <h5 class="card-header"><%= item.name %></h5>
        <div class="card-body">
          <p class="card-text"><%= item.description %></p>
          <%= link_to new_item_booking_path(item), class: "btn btn-light", data: {turbolinks: false}  do %>
            réserver
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="calendar-container">
    <h4>Calendrier</h4>
    <%= month_calendar events: @bookings do |date, bookings| %>
      <div class="text-center border-bottom mb-3">
        <small><%= date.strftime("%e %B") %></small>
      </div>

      <% bookings.each do |booking| %>
        <div class="py-1">
          <span class="m-0"><%= booking.item.name %></span>
          <span class="m-0"><small>(<%= booking.user %>)</small></span>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
