<div class="container">
  <%= link_to new_item_path do %>
    <p>Ajouter un objet</p>
  <% end %>

  <% @items.each do |item| %>
  <div id="item-<%= item.id %>">
    <p><%= item.name %></p>
    <p><%= item.description %></p>
    <%= link_to new_item_booking_path(item), data: {turbolinks: false}  do %>
      réserver
    <% end %>

    <%= link_to edit_item_path(item) do %>
      modifier
    <% end %>
    <%= link_to item_path(item),
            class: "delete-item",
            method: :delete,
            data: { confirm: "Êtes-vous sûr ?" } do %>
      supprimer
    <% end %>
  <% end %>
  </div>
</div>
